/* Copyright Code-it Creations */

.left { float: left !important; }
.right { float: right !important; }

img.left { border: solid 2px #19344d; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt30 { margin-top: 30px !important; }

.mb5n { margin-bottom: -5px !important; }
.mb10n { margin-bottom: -10px !important; }
.mt10n { margin-top: -10px !important; }
.mt25n { margin-top: -25px !important; }

.mb0 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.mr10 { margin-right: 10px; }

.pl50 { padding-left: 50px !important; }

.col { width: 50% }
.clearl { clear: left !important; }
.clearr { clear: right !important; }
.clear { clear: both !important; }

p { margin-bottom: 10px }
h3 { font-size: 20px; margin-bottom: 10px; }
h4 { font-size: 16px; margin-bottom: 10px; }

@font-face {
	font-family: 'FertigoProRegular';
	src: url('../fonts/web_fonts/fertigopro_regular_english/Fertigo_PRO-webfont.eot');
	src: local('☺'), url('../fonts/web_fonts/fertigopro_regular_english/Fertigo_PRO-webfont.woff') format('woff'), url('../fonts/web_fonts/fertigopro_regular_english/Fertigo_PRO-webfont.ttf') format('truetype'), url('../fonts/web_fonts/fertigopro_regular_english/Fertigo_PRO-webfont.svg#webfont3qjjHjlw') format('svg');
	font-weight: normal;
	font-style: normal;
}

a.top {
	position: absolute;
	bottom: -10px;
	left: 168px;
	background: url('../images/top.png') no-repeat;
	width: 64px;
	height: 32px;
	text-decoration: none;
	color: #fff;
	padding-top: 12px;
	padding-left: 19px;
}
	a.top:hover {
		background: url('../images/top_hov.png') no-repeat;
	}

html {
	height: 100%;
}

body {
	font-size: 14px;
	background: #211E1E;
	background: url('../images/bck.jpg');
	text-align: center;
	font-family: verdana;
	color: #D8D8D8;
	height: 100%;
	font-family: Arial;
	position: relative;
}

#pre-load {
	display: none !important;
}

	.introduce-extend {
		height: 37px;
		background: url('../images/personal.png') repeat-x;
		width: 200px;
		float: left;
		display: none;
	}

.preload {
	display: none !important;
}

.wrapper {
	background: url('../images/blocks.png') repeat-x -24px 0;
	margin: 0 auto;
	text-align: left;
}

.wrapper-sub {
	background: url('../images/blocks2.png') repeat-x bottom left;
}

.container {
	width: 952px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	border-left: solid 1px #34373B;
	padding-left: 10px;
}

.copyright {
	position: absolute;
	bottom: 0;
	right: 0;
}
	copyright a {
		color: $fff;
		text-decoration: none;
	}

.head {
	overflow: hidden;
	height: 187px;
}

	.logo {
		position: absolute;
		top: 0;
		left: 10px;
		background: url('../images/logo.png') no-repeat;
		width: 331px;
		height: 155px;
	}

	ul.nav {
		float: right;
	}
		ul.nav li {
			float: left;
		}
			ul.nav li a {
				color: #D8D8D8;
				display: block;
				margin-right: 20px;
			}
				ul.nav li a.home {
					background: url('../images/home_nav.png') no-repeat;
					width: 84px;
					height: 144px;
					margin-top: -61px;
				}
					ul.nav li a.home:hover {
						background: url('../images/home_nav_hov.png') no-repeat;
					}

				ul.nav li a.port {
					background: url('../images/port_nav.png') no-repeat;
					width: 126px;
					height: 144px;
					margin-top: -34px;
				}
					ul.nav li a.port:hover {
						background: url('../images/port_nav_hov.png') no-repeat;
					}
				ul.nav li a.about {
					background: url('../images/about_nav.png') no-repeat;
					width: 92px;
					height: 144px;
					margin-top: -80px;
				}
					ul.nav li a.about:hover {
						background: url('../images/about_nav_hov.png') no-repeat;
					}
				ul.nav li a.contact {
					background: url('../images/contact_nav.png') no-repeat;
					width: 109px;
					height: 144px;
					margin: 0;
					margin-top: -53px;
				}
					ul.nav li a.contact:hover {
						background: url('../images/contact_nav_hov.png') no-repeat;
					}

.title {
	margin-bottom: 10px;
	height: 37px;
	float: left;
	margin-left: -10px;
}
	.title.work {
		width: 177px;
		background: url('../images/title_work.png') repeat-x;
	}
	.title.introduce {
		width: 311px;
		background: url('../images/about.png') repeat-x;
	}
	.title.more-about {
		width: 200px;
		background: url('../images/more_about.png') repeat-x;
	}
	.title.personal {
		width: 768px;
		background: url('../images/personal.png') repeat-x;
		margin-top: 50px;
	}
	.title.help {
		width: 185px;
		background: url('../images/help.png') repeat-x;
		margin-top: 54px;
	}
	.title.reach {
		width: 205px;
		background: url('../images/reach.png') repeat-x;
	}
	.title .text {
		height: 14px;
		margin-top: 10px;
		margin-left: 40px;
	}
		.title.work .text {
			background: url('../images/work.png') no-repeat;
			width: 123px;
		}
		.title.introduce .text {
			background: url('../images/introduce.png') no-repeat;
			width: 252px;
		}
		.title.more-about .text {
			background: url('../images/more_text.png') no-repeat;
			width: 146px;
		}
		.title.personal .text {
			background: url('../images/personal_txt.png') no-repeat;
			width: 199px;
			margin-left: 553px;
		}
		.title.help .text {
			background: url('../images/help_txt.png') no-repeat;
			width: 102px;
			margin-left: 67px;
		}
		.title.reach .text {
			background: url('../images/reach_txt.png') no-repeat;
			width: 162px;
		}

.layer {
	float: left;
	margin: 20px 0;
}

	.intro {
		background: url('../images/intro.png') no-repeat;
		width: 368px;
		height: 313px;
		float: left;
		margin-right: 18px;
	}

	#slider-wrap {
		float: right;
		background: url('../images/slider.jpg') no-repeat;
		width: 565px;
		height: 312px;
	}
		#slider {
			position:relative;
			width: 537px; /* Change this to your images width */
			height: 289px; /* Change this to your images height */
			background:url(images/loading.gif) no-repeat 50% 50%;
			margin-top: 10px;
			margin-left: 14px;
		}
		#slider img {
			position:absolute;
			top: 0px;
			left: 0px;
			display:none;
		}
		#slider a {
			border:0;
			display: block;
		}

	.site {
		width: 959px;
		height: 262px;
		float: left;
		position: relative;
		margin-bottom: 20px;
	}
		.site.last {
			margin-bottom: 0;
		}
		.site .site-left {
			background: url('../images/site_left.png') no-repeat;
			width: 11px;
			height: 262px;
			float: left;
		}
		.site .site-middle {
			background: url('../images/site_middle.png') repeat-x;
			height: 262px;
			float: left;
			width: 926px;
		}
		.site .site-right {
			background: url('../images/site_right.png') no-repeat;
			width: 10px;
			height: 262px;
			float: left;
		}
		/* CSS3 gradient for backgraound and change on hover */
		.site img {
			background: #1E4E78;
			background-image: -webkit-gradient(
			    linear,
			    left bottom,
			    left top,
			    color-stop(0.04, rgb(30,78,120)),
			    color-stop(0.57, rgb(30,43,56))
			);
			background-image: -moz-linear-gradient(
			    center bottom,
			    rgb(30,78,120) 4%,
			    rgb(30,43,56) 57%
			);
			padding: 6px;
			float: left;
			margin: 19px 5px 0 0;
		}
			.site img:hover {
				background: #1E2B38;
				cursor: pointer;
				background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.04, rgb(30,43,56)),
					color-stop(0.57, rgb(30,78,120))
				);
				background-image: -moz-linear-gradient(
					center bottom,
					rgb(30,43,56) 4%,
					rgb(30,78,120) 57%
				);
			}
		.site .bar {
			float: left;
			margin-top: 10px;
			position: relative;
			z-index: 10;
		}

			.bar .bar-left {
				background: url('../images/bar_left.png') no-repeat;
				width: 8px;
				height: 33px;
				float: left;
			}
			.bar .bar-middle {
				background: url('../images/bar_middle.png') repeat-x;
				width: 657px;
				height: 33px;
				float: left;
				padding-top: 9px;
				color: #2B6EC7;
				font-weight: bold;
			}
				.bar-middle a {
					text-decoration: none;
					color: #fff;
					font-weight: normal;
				}
					.bar-middle a:hover {
						text-decoration: underline;
					}
				.bar-middle span {
					color: #fff;
					font-weight: normal;s
				}
			.bar .bar-right {
				background: url('../images/bar_right.png') no-repeat;
				width: 9px;
				height: 33px;
				float: left;
			}
		.site .site-txt {
			float: right;
			width: 238px;
			line-height: 1.4;
			margin: 21px 0 0 5px;
			color: #adcae3;
		}

.side {
	float: left;
	width: 413px;
	margin-top: 20px;
}
	.side.wider {
		width: 535px;
	}

	.about {
		width: 100%;
		height: 297px;
		float: left;
		margin-bottom: 40px;
		margin-top: 10px;
	}
		.about h3 {
			font-family: 'FertigoProRegular';
			background: url('../images/underline.png') repeat-x bottom left;
		}
		.about .about-left {
			background: url('../images/about_left.png') no-repeat;
			width: 12px;
			float: left;
			height: 100%;
		}
		.about .middle {
			background: url('../images/about_middle.png') repeat-x;
			padding: 10px;
			font-size: 14px;
			line-height: 1.6;
			height: 100%;
			float: left;
			width: 902px;
		}
		.about .about-right {
			background: url('../images/about_right.png') no-repeat;
			height: 100%;
			float: left;
			width: 10px;
		}

.help-wrap {
	float: left;
	margin-top: 100px;
}

	.tip {
		float: left;
		height: 124px;
		margin-bottom: 70px;
		line-height: 1.7;
		*width: 370px;
	}
		.tip .tip-left {
			background: url('../images/tip_left.png') no-repeat;
			width: 10px;
			float: left;
			height: 124px;
		}
		.tip .tip-middle {
			background: url('../images/tip_middle.png') repeat-x;
			padding: 10px;
			padding-top: 12px;
			float: left;
			height: 124px;
			width: 326px;
		}
		.tip .tip-right {
			width: 8px;
			background: url('../images/tip_right.png') no-repeat;
			height: 124px;
			float: left;
		}

	.resources {
		width: 449px;
		float: right;
		height: 143px;
		margin-top: -100px;
		padding: 10px;
		*margin-top: 0;
	}
		.resources .rec-inner {
			margin-right: 10px;
			float: left;
			background: #07131E;
			padding: 10px;
			border: solid 1px #181717;
		}
		.resources h3 {
			font-family: 'FertigoProRegular';
		}
		.resources ul {
			height: 109px;
			float: left;
		}
			.resources ul li {
			}
				.resources ul li a {
					display: block;
					text-decoration: none;
					padding: 6px 6px 6px 12px;
					color: #D8D8D8;
				}

	.more {
		float: left;
		width: 1000px;
		line-height: 1.6;
		margin-top: 20px;
	}
		.more .one {
			float: left;
			height: 364px;
			width: 501px;
			margin-right: 30px;
		}
			.one .one-left {
				background: url('../images/tech_left.png') no-repeat;
				width: 12px;
				height: 100%;
				float: left;
			}
			.one .one-middle {
				background: url('../images/tech_middle.png') repeat-x;
				height: 100%;
				float: left;
				width: 438px;
				padding: 10px 20px;
			}
			.one .one-right {
				background: url('../images/tech_right.png') no-repeat;
				width: 11px;
				height: 100%;
				float: left;
			}
		.more .two {
			height: 362px;
			width: 460px;
			float: left;
		}
			.two .two-left {
				background: url('../images/current_left.png') no-repeat;
				width: 12px;
				height: 100%;
				float: left;
			}
			.two .two-middle {
				background: url('../images/current_middle.png') repeat-x;
				height: 100%;
				float: left;
				width: 350px;
				padding: 10px 20px;
			}
			.two .two-right {
				background: url('../images/current_right.png') no-repeat;
				width: 11px;
				height: 100%;
				float: left;
			}

		.more h3 {
			font-family: 'FertigoProRegular';
			background: url('../images/underline.png') repeat-x bottom left;
		}
		.more ul.tech {
			overflow: hidden;
			margin-bottom: 10px;
			margin-left: -21px;
		}
			.more ul.tech li {
				float: left;
				padding-left: 21px;
				padding-bottom: 8px;
			}
			.more .bottom h4 {
				font-family: 'FertigoProRegular';
			}
			.more .bottom p {
				font-size: 10px;
				color: #4f4e4e;
			}
			.more .bottom a {
				float: right;
				text-decoration: none;
				color: #34373B;
				font-weight: bold;
			}
				.more .bottom a:hover {
					color: #fff;
				}

	.footer {
		width: 1000px;
		float: left;
		position: relative;
	}
		.footer .footer-inner {
			height: 127px;
			width: 923px;
			position: relative;
			float: left;
			background: url('../images/footer.png') repeat-x;
		}
		.footer .fleft {
			background: url('../images/footer_left.png') no-repeat;
			height: 127px;
			float: left;
			width: 11px;
		}
		.footer .fright {
			background: url('../images/footer_right.png') no-repeat;
			height: 127px;
			float: left;
			width: 9px;
			position: relative;
			top: 1px;
		}
		.footer a.follow {
			position: absolute;
			bottom: 10px;
			right: 9px;
			font-size: 12px;
			color: #fff;
			text-decoration: none;
			bottom: 16px;
			display: none;
		}
			a.follow:hover {
				color: #0F538D;
			}
		.footer .twitter {
			float: right;
			margin-right: 70px;
			margin-top: 22px;
			font-family: FertigoProRegular;
			*width: 339px;
		}
			.twitter .twitter-left {
				background: url('../images/twitter_left.png') no-repeat;
				width: 12px;
				float: left;
				height: 61px;
			}
			.twitter .twitter-inner {
				width: 310px;
				height: 61px;
				padding-top: 7px;
				float: left;
				line-height: 1.3;
				font-size: 11px;
				background: url('../images/twitter_bck.png') repeat-x;
			}
			.twitter .twitter-right {
				background: url('../images/twitter_right.png') no-repeat;
				width: 17px;
				float: right;
				height: 61px;
			}
		ul.contact {
			margin: 30px 0 0 20px;
			font-size: 12px;
		}
					ul.contact li a, ul.contact li span {
						text-decoration: none;
						color: #fff;
						font-size: 16px;
						line-height: 1.5;
					}
						ul.contact li a:hover {
							color: #0F538D;
						}
